body
{
    background:#F0F2F2;
}

#wrapper
{
    background: url('../imgs/under-contruction.png') no-repeat center center;
    width: 500px;
    height:300px;
    margin: auto;
    position: relative;
    top:100px;
    
}